// Varibles
$color-background: #17163f;
$color-gris: #555555;
$color-gris-claro: #ebebeb;
$color-gris-purple: #dedaf1;
$color-purpura-claro: #c8bfff;
$color-purpura-medio: #8177be;
$font-links: 'Oswald', sans-serif;
$font-global: 'Raleway', sans-serif;
$color-boton-amarillo: #ffbd1a;
$color-boton-naranja: #ff831d;
$color-darkgreen: #668e19;
$color-lightgreen: #433c74;